.user_outline {
  color: #229849;
  font-size: 50px;
  margin-left: 20px;
}

.plus_icon {
  border-radius: 50%;
  padding: 2px;
  color: white;
  background-color: #229849;
  margin-top: 75px;
}

.user_icon {
  margin-left: 0px;
}

.no_user_icon {
  margin-left: 70px;
}

.preview_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  cursor: pointer;
  .preview_container {
    position: relative;
    .preview_image {
      width: 100%;
      height: 95vh;
    }
  }
  .close_btn {
    position: absolute;
    top: 2px;
    right: 2px;
    background: none;
    border: none;
    color: white;
    font-size: 18px;
    cursor: pointer;
    z-index: 101;
    padding: 2px 5px;
  }
  .close_btn:hover {
    color: red;
  }
}
