.contract-list-header {
  padding: 8px 15px 8px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contractActionBtns {
  border: none !important;
  overflow: hidden !important;
}

.contracts-tabs {
  padding: 1vw 1vw 0.5vw 1vw;
}
