.create-project {
  padding: 1vw;
  border: 2px solid #e3e3e3;
  border-radius: 8px;
  margin: 1vw;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  background-color: white;
  /* height: 96%; */
}

.upload-project {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2vw;
}

.form-part-enter {
  transform: translateX(100%);
  opacity: 0;
  transition: all 300ms ease-out;
}

.form-part-enter-active {
  transform: translateX(0);
  opacity: 1;
}

.form-part-exit {
  transform: translateX(0);
  opacity: 1;
  transition: all 300ms ease-out;
}

.form-part-exit-active {
  transform: translateX(-100%);
  opacity: 0;
}
.ant-steps-item-tail {
  display: none !important;
}
