.customer_list_header {
  padding: 0.5vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
}

.customerActionBtns {
  border: none !important;
  overflow: hidden !important;
  background: none !important;
  box-shadow: none;
}
