.tag {
  border: 1px solid #dadada;
  width: 100%;
  padding: 1.2px 10px;
  border-radius: 5px;
}

.skill {
  width: 100%;
  padding: 1.2px 10px;
  border-radius: 5px;
}

.priority-remove-icon {
  margin-top: 4px;
}
