.ticket-subject {
  display: block;
  font-size: 16px;
  font-weight: bold;
  margin: 0.5vw 0vw;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  box-sizing: border-box;
}
.ticket-description {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  margin: 0.5vw 0vw;
}

.ticket-date {
  display: flex;
  justify-content: flex-end;
  color: red;
  font-weight: bold;
  margin: 0.5vw 0vw;
}

.board-assignee-comment {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.scrollable-container {
  height: 75vh;
  max-width: 100%;
  overflow-x: auto;
  overflow-y: auto;
  padding: 10px 15px;
}

.scrollable-container::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.card-footer {
  padding: 15px 10px;
  font-weight: bold;
  cursor: pointer;
  color: #c4c4c4;
  border-radius: 12px;
  transition: border 1s ease-in-out;
}

.card-footer:hover {
  border: 1px solid #c4c4c4;
}
@keyframes slideInFromBottom {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.board-card {
  /* ... existing .board-card styles ... */
  animation: slideInFromBottom 0.5s ease-out forwards;
}
